.writing-wrapper{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:50px;
}

.left{
    align-items:flex-start
}

.right{
    align-items:flex-end;
}

.writing-body{
    width:100%;
}

.writing-body p{
    font-size:20px;
    line-height:1.4;
    font-family:'Times New Roman', Times, serif;
}

.section{
    margin-bottom:100px;
    width:100%;
    display:flex;
    flex-direction:column;
}

.section p{
    text-indent:10em;
    margin:0;
    position:relative;
    max-width:800px;
}

.section p:first-of-type{
    text-indent:0em;
}

h1{
    font-weight:normal;
    font-size:50px;
    margin-bottom:0;
}

h2{
    font-weight:normal;
    font-size:20px;
    text-align:center;
    margin-bottom:50px;
    width:100%;
}

.writing-body .caption{
    font-size:12px;
    opacity:0.5;
    font-family:monospace;
}

.callout{
    font-size:20px;
    display:inline;
}

.title{
    margin-bottom:50px;
}

sup{
    font-family:monospace;
    color:blue;
    font-size:10px;
}

.char-span{
    display:inline-block;
    /* animation:wave 2s infinite ease-in-out; */
    text-decoration:underline;
    text-underline-offset: -1.1em;
    white-space:pre;
}

img{
    width:100%;
    max-width:500px;
    margin:50px 0;
}