.project-desc-wrapper{
    width:30%;
}

.project-desc{
    width:30%;
    max-width:500px;
    position:fixed;
}

.project-images{
    width:65%;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.project-images img{
    width:100%;
    margin-top:10px;
}

.project-images video{
    width:100%;
    margin-top:10px;
}

#extra{
    display:none;
}