:root{
    --main-color:rgb(14, 92, 195);
    --background-color:white;
    --foreground-color:black;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:300;
    font-size:12px;
    margin:0 auto;
    padding:20px;
    cursor:default;
    max-width:1600px;
    background-color:var(--background-color);
}

::selection{
    color:var(--background-color);
    background-color:var(--main-color);
}

p{
    line-height:14px;
    color:var(--foreground-color);
}

a{
    color:var(--main-color);
    text-decoration:none;
    cursor:pointer;
}

.nav{
    z-index:999;
    position:fixed;
}

#header-container{
    margin-top:40px;
}

.title p{
    box-shadow:0 0 0 1px var(--background-col);
    display:inline;
}

/*marquee*/

.bar{
    position:fixed;
	background-color:var(--foreground-color);
    box-shadow:0 0 0 1px var(--background-color);
    color:var(--background-color);
    min-width:1620px;
    height:15px;
    margin-left:-20px;
    margin-top:-10px;
    margin-bottom:20px;
    overflow:hidden;
    cursor:default;

    transition:
        height
            200ms cubic-bezier(0.215, 0.610, 0.355, 1)
    ;
}

.bar:hover{
    background-image:linear-gradient(to right,rgb(17, 179, 17),rgb(85, 148, 255),red,orange,rgb(255, 225, 0));
    color:var(--foreground-color);
    height:30px;
}

.marquee{
    display:flex;
    position:absolute;
    margin-top:-6px;
    top:50%;
    animation:marquee 30s linear infinite;
    white-space:nowrap;
    animation-play-state:running;
}

.bar:hover .marquee{
    animation-duration:10s;
}

.bar marquee-content{
    flex-shrink:0;
    display:inline-block;
}

@keyframes marquee{
    0%{
        transform:translateX(0%);
    }
    100%{
        transform:translateX(-50%);
    }
}

/* main */

.main{
    padding-top:100px;
}

.hero{
    padding-bottom:30px;
}

.two-split{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:100%;
    gap:5%;
}

/* projects */

.column{
    width:45%;
}

.content-main{
    columns:3 200px;
    gap:10px;
    break-inside:avoid;
}

.item{
    margin-bottom:10px;

    transition:
        transform
            200ms cubic-bezier(0.215, 0.610, 0.355, 1);
}

.item p{
    margin-top:5px;
    margin-bottom:10px;
    width:100%;
}

.item hr{
    margin-top:-5px;
}

.content-main img{
    width:100%;
}

.content-main video{
    width:100%;
}

.unavailable:hover{
    filter:grayscale() brightness(0.5);
    cursor:not-allowed;
}

/* text drag */

.drag{
    cursor:move;
    z-index:999;
    padding-left:3px;
    padding-right:3px;
    border:0.5px solid var(--foreground-color);
    background-color:var(--background-color);
    user-select:none;
    display:inline-block;

    box-shadow:0px 0px 0px 0px;
    transform:translate(0px, 0px);

    transition: 
        box-shadow
            200ms cubic-bezier(0.215, 0.610, 0.355, 1),
        transform
            200ms cubic-bezier(0.215, 0.610, 0.355, 1);
}

.blue{
    border:0.5px solid var(--main-color);
}

.drag:hover{
    box-shadow:1px 1px 0px 1px var(--foreground-color);
    transform:translate(-1px, -1px);
}

.drag:active{
    box-shadow:0px 0px 0px 0px;
    transform:translate(0px, 0px);
}

.blue.drag:hover{
    /* background-color:blue; */
    box-shadow:1px 1px 0px 1px var(--main-color);
}

.blue.drag:active{
    /* background-color:blue; */
    box-shadow:0px 0px 0px 0px var(--main-color);
}

#toggleDark:hover{
    background-color:var(--foreground-color);
    color:var(--background-color);
}

/* mobile */

@media (orientation:landscape){

}

@media (orientation:portrait){
    .column{
        width:100%;
    }

    .content{
        grid-template-columns:1fr 1fr;
    }

    .title{
        margin-top:0px;
    }

    .main{
        padding-top:60px;
    }

    .bar{
        display:none;
    }

    #mood{
        display:none;
    }
}